

            h1 {
                font-family: sans-serif;
                font-weight: bold;
                font-size: -webkit-xxx-large;
                color: white
            }

            .loading_bar {
                position: absolute;
                display: none;
                height: 100%;
                width: 100%;
                background: transparent url(Images/ajax-loader-1.gif) no-repeat 50% 50%;
            }
            .overlay {
                position: fixed;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
         
                z-index: 10;
              }
            div.fa.fa-minus-circle {
                color: red;
                padding-right:2%;
                font-size: xx-large
            }
/*css for fav scroller*/
ul,li {
	padding:0;
	margin:0;
	border:0;
}

#wrapper {
	z-index:1;
	top:45px; bottom:48px; left:0;
	width:100%;
	overflow:auto;
}

#chartViewPage{
	z-index:1;
	top:45px; bottom:0px; left:0;
	width:100%;
	overflow:auto;
}

#scroller {
	position:absolute; z-index:1;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	width:95%;
	padding:0;
    padding-right: 5%;
}

#scroller ul {
	list-style:none;
	padding:0;
	margin:0;
	width:100%;
	text-align:left;
}

#scroller li {
	padding: 0 10px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #fff;
    background-color: #fafafa;
    font-size: 18px;
    border-left: 1px solid #ccc;
    border-bottom-width: initial;
    border-right: 1px solid #ccc;
    border-left-width: initial;
    width: inherit;
    border-radius: 25px;
    border-top: 1px solid #ccc;
    margin-top: 2%;
    border-top-width: initial;
    border-right-width: initial
}
html {
    -webkit-user-select: none;
}


/*derived from http://stackoverflow.com/questions/20863288/bootstrap-3-slide-in-menu-navbar-on-mobile*/  

.navbar-default .navbar-toggle .icon-bar {
background-color: #FFF;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
background-color: #4F81BD;
}

.navbar-default .navbar-brand {
color: #FFF;
font: bold;
}



.navbar-default {
background-color: #4F81BD;
border-color: #4F81BD;
}


.navbar-default .navbar-offcanvas .navmenu-nav > li > a {
color: #FFF;
}

/* adjust body when menu is open */
            body.slide-active {
            overflow-x: hidden;
        }
        /*first child of #page-content so it doesn't shift around*/
        .no-margin-top {
            margin-top: 0px !important;
        }
        /*wrap the entire page content but not nav inside this div if not a fixed top, don't add any top padding */
    #page-content {
            position: relative;
            padding-top: 20%;
            left: 0;
        }

        #page-content.slide-active {
            padding-top: 0;
        }



        /* put toggle bars on the left :: not using button */
    #slide-nav .navbar-toggle {
            cursor: pointer;
            position: relative;
            line-height: 0;
            float: left;
            margin: 0;
            width: 30px;
            height: 40px;
            padding: 10px 0 0 0;
            border: 0;
            background: transparent;
        }
        /* icon bar prettyup - optional */
        #slide-nav .navbar-toggle > .icon-bar {
            width: 100%;
            display: block;
            height: 3px;
            margin: 5px 0 0 0;
        }

        #slide-nav .navbar-toggle.slide-active .icon-bar {
            background: orange;
        }

        .navbar-header {
            position: relative;
        }
        /* un fix the navbar when active so that all the menu items are accessible */
        .navbar.navbar-fixed-top.slide-active {
            position: relative;
        }
        /* screw writing importants and shit, just stick it in max width since these classes are not shared between sizes */
    @media (max-width:767px) {
        #slide-nav .container {
                margin: 0 !important;
                padding: 0 !important;
                height: 100%;
        }

        #slide-nav .navbar-header {
                margin: 0 auto;
                padding: 0 15px;
        }

        #slide-nav .navbar.slide-active {
                position: absolute;
                width: 80%;
                top: -1px;
            z-index: 1000;
        }

        #slide-nav #slidemenu {
                background: #f7f7f7;
                left: -100%;
                width: 80%;
            min-width: 0;
            position: absolute;
            padding-left: 0;
            z-index: 2;
            top: -8px;
            margin: 0;
        }

            #slide-nav #slidemenu .navbar-nav {
                min-width: 0;
                width: 100%;
                margin: 0;
            }

                #slide-nav #slidemenu .navbar-nav .dropdown-menu li a {
                    min-width: 0;
                    width: 80%;
                    white-space: normal;
                }

        #slide-nav {
            border-top: 0;
        }

            #slide-nav.navbar-inverse #slidemenu {
                background: #7B7B7B;
            }
        /* this is behind the navigation but the navigation is not inside it so that the navigation is accessible and scrolls*/
        #navbar-height-col {
                position: fixed;
                top: 0;
                height: 100%;
                bottom: 0;
                width: 80%;
                left: -80%;
                background: #f7f7f7;
        }

            #navbar-height-col.inverse {
                background: #7B7B7B;
                z-index: 1;
                border: 0;
            }

        #slide-nav .navbar-form {
                width: 100%;
                margin: 8px 0;
            text-align: center;
            overflow: hidden;
        }

            #slide-nav .navbar-form .form-control {
                text-align: center;
            }

            #slide-nav .navbar-form .btn {
                width: 100%;
            }
        }

    @media (min-width:768px) {
        #page-content {
                left: 0 !important;
        }

            .navbar.navbar-fixed-top.slide-active {
                position: fixed;
            }

            .navbar-header {
                left: 0 !important;
            }
        }
    #imaginary_container {
            margin-top: 10%; /* Don't copy this */
        }

        .stylish-input-group .input-group-addon {
            background: white !important;
        }

        .stylish-input-group .form-control {
            border-right: 0;
            box-shadow: 0 0 0;
            border-color: #ccc;
        }

        .stylish-input-group button {
            border: 0;
            background: transparent;
        }
/*derived from http://stackoverflow.com/questions/20863288/bootstrap-3-slide-in-menu-navbar-on-mobile*/  


    #AskAnotherQuestion {
            cursor: pointer;
        }
    #SPEECH_BUTTON {
            cursor: pointer;
        }
    #answerNavBarTextView {
            cursor: pointer;
        }
    #answerNavBarChartView {
            cursor: pointer;
        }
        .fa {
            cursor: pointer;
        }
        .fa .fa-search {
            cursor: pointer;
        }

         .fa .fa-minus-circle {
            cursor: pointer;
        }
        #editFavorites{
            cursor: pointer;
        }


        /*derived from http://jsfiddle.net/ThinkingStiff/BYxk4/*/
        .conversation {
            width: 100%;
        }

        .bubble {
            background-color: #F2F2F2;
            border-radius: 5px;
            box-shadow: 0 0 6px #B2B2B2;
            display: inline-block;
            padding: 10px 18px;
            position: relative;
            vertical-align: top;
        }

        .bubble::before {
            background-color: #F2F2F2;
            content: "\00a0";
            display: block;
            height: 16px;
            position: absolute;
            top: 11px;
            transform: rotate( 29deg ) skew( -35deg );
            -moz-transform: rotate( 29deg ) skew( -35deg );
            -ms-transform: rotate( 29deg ) skew( -35deg );
            -o-transform: rotate( 29deg ) skew( -35deg );
            -webkit-transform: rotate( 29deg ) skew( -35deg );
            width: 20px;
        }

        .me {
            float: left;
            margin: 5px 45px 5px 20px;
            background: linear-gradient(#EDEDED, rgba(150, 150, 150, 0.77));
        }

        .me::before {
            box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
            left: -9px;
            background: linear-gradient(#EDEDED, rgba(150, 150, 150, 0.77));
        }

        .you {
            float: right;
            margin: 5px 20px 5px 45px;
            background: linear-gradient(#DCE7FC, rgba(79, 129, 189, 0.64));
        }

        .you::before {
            box-shadow: 2px -2px 2px 0 rgba( 178, 178, 178, .4 );
            right: -9px;
            background: linear-gradient(#DCE7FC, rgba(79, 129, 189, 0.64));
        }
		            h1 {
                font-family: sans-serif;
                font-weight: bold;
                font-size: -webkit-xxx-large;
                color: white
            }

            .loading_bar {
                position: absolute;
                display: none;
                height: 100%;
                width: 100%;
                background: transparent url(Images/ajax-loader-1.gif) no-repeat 50% 50%;
            }
            .overlay {
                position: fixed;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
         
                z-index: 10;
              }
            div.fa.fa-minus-circle {
                color: red;
                padding-right:2%;
                font-size: xx-large
            }
/*css for fav scroller*/
ul,li {
	padding:0;
	margin:0;
	border:0;
}

#wrapper {
	z-index:1;
	top:45px; bottom:48px; left:0;
	width:100%;
	overflow:auto;
}

#chartViewPage{
    z-index:1;
	top:45px; bottom:0px; left:0;
	width:100%;
	overflow:auto;
}

#scroller {
	position:absolute; z-index:1;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	width:95%;
	padding:0;
    padding-right: 5%;
}

#scroller ul {
	list-style:none;
	padding:0;
	margin:0;
	width:100%;
	text-align:left;
}

#scroller li {
	padding: 0 10px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #fff;
    background-color: #fafafa;
    font-size: 18px;
    border-left: 1px solid #ccc;
    border-bottom-width: initial;
    border-right: 1px solid #ccc;
    border-left-width: initial;
    width: inherit;
    border-radius: 25px;
    border-top: 1px solid #ccc;
    margin-top: 2%;
    border-top-width: initial;
    border-right-width: initial
}
html {
    -webkit-user-select: none;
}


<!-- derived from http://jsbin.com/seqola/2/edit?output -->

